@model PageModel<JavaServerModel>
@{
    ViewData["Title"] = "Java Servers";
}

<div class="text-center">
    <h5>Page: @(Model.Number + 1)</h5>
    @foreach (JavaServerModel javaServer in Model.Items)
    {
        <div class="server java">
            <span class="address">@javaServer.Host:@javaServer.Port</span>
            <span class="status">@javaServer.Status.ToString()</span>
            <span class="version">@javaServer.Version</span>
            <a asp-controller="JavaServer" asp-action="Refresh" asp-route-id="@javaServer.Id">Refresh</a>
            <a asp-controller="JavaServer" asp-action="View" asp-route-id="@javaServer.Id">View</a>
        </div>
    }
</div>
