@model JavaServerModel
@{
    ViewData["Title"] = "Java Server";
}

<div>
    <img src="/@Model.Icon?.Path" />
    <h5>@Model.Host:@Model.Port</h5>
    <p>@Model.DescriptionNormalized</p>


    @if(Model.ModType is not null)
    {
        <hr />
        <h4>Mod Type: @Model.ModType.Name (@Model.ModVersions.Length)</h4>

        @foreach(ModVersionModel modVersion in Model.ModVersions)
        {
            <p>@modVersion.Mod.Name - @modVersion.Version</p>
        }
    }
</div>
